

 
/* ---- The font-family defines the name that will be used in CSS ------ */ /* --------along with a source with location and  font file name ---- */
@font-face {
    font-family: "IvarHeadline-Regular";
     src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/IvarHeadline-Regular.woff2);
   }  
   @font-face {
    font-family: "IvarHeadline-Italic";
     src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/IvarHeadline-Italic.woff2);
   } 
   @font-face {
    font-family: "IvarHeadline-Bold";
     src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/IvarHeadline-Bold.woff2);
   }  
   @font-face {
    font-family: "IvarHeadline-BoldItalic";
     src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/IvarHeadline-Italic.woff2);
   } 
   @font-face {
    font-family: "IvarText-Regular";
     src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/IvarText-Regular.woff2);
   } 
   @font-face {
    font-family: "IvarText-Italic";
     src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/IvarText-Regular.woff2);
   }
   @font-face {
    font-family: "IvarText-Bold";
     src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/IvarText-Bold.woff2);
   }
   @font-face {
    font-family: "Staff-Regular";
     src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/Staff-Regular.woff2);
   }  
   @font-face {
    font-family: "Staff-Italic";
     src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/Staff-Italic.woff2);
   } 
   @font-face {
    font-family: "Staff-Bold";
     src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/Staff-Bold.woff2);
   }  
   @font-face {
    font-family: "Staff-BoldItalic";
     src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/Staff-BoldItalic.woff2);
   } 
   @font-face {
    font-family: "Carrie-Regular";
     src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/VTCCarrie-Regular.woff2);
   } 
   
 

  h3{
    color: #000000;
    font-weight: 400;
    font-family:"Staff","Helvetica","Arial","sans-serif";
    font-size: 18px;
    line-height: 36px;
    margin-top: 0px;
    margin-right: 15%;
    margin-bottom: 0px;
    margin-left: 15%;
    text-align: center;
    padding-top: 8px;
  }

  h4{
    color: #000000;
      font-family: "Staff","Helvetica","Arial","sans-serif";
      font-size: 15px;
      max-width: 100%;
      margin:15% 5% 5% 30%;
      line-height: 1.5;
  }

  p.drop:first-letter {
    font-family: 'Poppins', sans-serif;
    padding-right: 16px;
    font-size: 5em;
    float: left;
    margin-top: 8px;
    line-height: .9em;
    }

  .header img{
    margin:0px auto 0px auto;
    height: 100%;
    width: 100%;

  }
  
  .text span{
    color: #CD395B;
    font-family:"Ivar Text","Georgia","Times","Times New Roman",serif;
    font-size: auto;
  }

  @media only screen and (max-width:680px) {

    p{
      color: #000000;
      font-weight: 400;
      font-family:'Poppins', sans-serif;
      font-size: 22px;
      line-height: 36px;
      max-width: 90%;
      margin:20px auto 20px auto;
      text-align: left;
      padding-top: 8px;
    }
    h1{
      color: #000000;
      font-weight: 800;
      font-family:'Playfair',"Georgia","Times","Times New Roman",serif; 
      font-size: 42px;
      line-height: 52px;
      margin-top: 0px;
      margin-right: auto;
      margin-bottom: 25px;
      margin-left: auto;
      text-align: center;
      padding-top: 0px;
    }
    iframe {
      margin-left: 10%;
      padding-top: 0px;
      padding-bottom: 0px;
      max-width: 80%;
     }
  }

  @media only screen and (min-width:681px) {
    
    p{
      color: #000000;
      font-weight: 200;
      font-family:'Poppins', sans-serif; 
      font-size: 24px;
      line-height: 32px;
      margin-top: 0px;
      margin-right: 20%;
      margin-bottom: 0px;
      margin-left: 20%;
      text-align: left;
      padding-top: 20px;
    }
    h1{
      color: #000000;
      font-weight: 800;
      font-family:'Playfair',"Georgia","Times","Times New Roman",serif; 
      font-size: 72px;
      line-height: 52px;
      margin-top: -80px;
      margin-right: auto;
      margin-bottom: 25px;
      margin-left: auto;
      text-align: center;
      padding-top: 0px;
    }
    iframe {
      margin-left: 28%;
      padding-top: 20px;
      padding-bottom: 20px;
      max-width: 50%;
     }
  }

 a {
  color: #ff4a4a;
  font-weight: bold;
  border-bottom: 2px solid;
  font-family: 'Poppins',Helvetica,Arial,sans-serif;
  text-decoration: none;
}



  /*------------------- FOOTER STYLES ---------------------------------------------------*/
  @media only screen and (max-width:600px) {
    /* FULL-WIDTH FOR MOBILE */
.footer {
  background-color: #b9fff8;
    padding: 25px 50px;
    display:block;
    margin-top: 50px;
    }
    .footer img {
      width: 50%;
      padding-top: 0px;
      margin-left: 20%;
  }
}
@media only screen and (min-width:601px) {
        /* SPLIT INTO THREE COLUMNS FOR LARGER SCREENS */
.footer {
    background-color: #b9fff8;
    padding: 25px 50px;
    display:grid;
    grid-template-columns: 13% 45% 22% ;
    grid-column-gap: 3em;
    margin-top: 50px;
    }
    .footer img {
      width: 100%;
      padding-top: 30px;
  }
  
  .BTM {
    padding: 25px 50px;
    display:grid;
    grid-template-columns:20% 20% ;
    grid-column-gap: 6em;
    margin-top: 20px;
    text-align: center;
    margin-left: 28%;
    }
}

.footer .boilerplate p {
    font-family: 'Playfair',"Georgia","Times","Times New Roman",serif;
    font-size: 12px;
    line-height: 1.8;
}
.footer .footerbold p {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    line-height: 1.8;
}
.footer .footertext p {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  font-size: 22px;
  line-height: 1.8;
}
.footer .footertext .footerbold p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.8;
}

 button{
  width: 153px;
  height: 68px;
  background: url(./BTMbg.png) no-repeat;
  background-size: cover;
  border-style: none;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
 }

 .BTM button:hover {
  width: 153px;
  height: 68px;
  background: url(./BTMbgr.png) no-repeat;
  background-size: cover;
  border-style: none;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  transition: 0.1s;
}