body {
    margin: 0;
    padding: 0;
    
  }
  
  /* #bg-video1{
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }
  #bg-video2{
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
opacity: 0; /* set initial opacity to 0 */

  
  #content,#content1, #content2 {
    height: 1500px; /* adjust this value as per your content length */
    padding: 100px;
  }
  

  #content,#content1 h1{
    font-size: 40px;
    color: white;
    padding-left: 18%;
    }

    #content,#content1 p {
    font-size: 26px;
    color: white;
    opacity: 0.95;
    }

    #content2 h1
    {
        font-size: 32px;
    color: rgb(251, 194, 76);
    padding-left: 25%;
    opacity: 1;}

    #content2 p {
        font-size: 26px;
    color: rgb(255, 255, 255);
    opacity: 0.95;
padding-left: 25%;
}
p.redtype{
    color:brown
}

#scrolly {
  position: relative;
  background-color: #34e511;
  padding: 1rem;
}

article {
  position: relative;
  padding: 0;
  max-width: 50rem;
  margin: 0 auto;
}

figure {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  width: 100%;
  margin-top: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 0;
}

figure p {
  text-align: center;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 8rem;
  font-weight: 900;
  color: #fff;
}

.step {
  margin: 0 auto 2rem auto;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.1);
}

.step:last-child {
  margin-bottom: 0;
}

.step.is-active p {
  background-color: goldenrod;
  color: #3b3b3b;
}

.step p {
  text-align: center;
  padding: 1rem;
  font-size: 1rem;
  background-color: #3b3b3b;
}
/* --------------  LOAD FONTS FROM SERVER ------------------------------ */
/* ---- The font-family defines the name that will be used in CSS ------ */ /* --------along with a source with location and  font file name ---- */
@font-face {
    font-family: "IvarHeadline-Regular";
     src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/IvarHeadline-Regular.woff2);
   }  
   @font-face {
    font-family: "IvarHeadline-Italic";
     src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/IvarHeadline-Italic.woff2);
   } 
   @font-face {
    font-family: "IvarHeadline-Bold";
     src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/IvarHeadline-Bold.woff2);
   }  
   @font-face {
    font-family: "IvarHeadline-BoldItalic";
     src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/IvarHeadline-Italic.woff2);
   } 
   @font-face {
    font-family: "IvarText-Regular";
     src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/IvarText-Regular.woff2);
   } 
   @font-face {
    font-family: "IvarText-Italic";
     src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/IvarText-Regular.woff2);
   }
   @font-face {
    font-family: "IvarText-Bold";
     src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/IvarText-Bold.woff2);
   }
   @font-face {
    font-family: "Staff-Regular";
     src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/Staff-Regular.woff2);
   }  
   @font-face {
    font-family: "Staff-Italic";
     src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/Staff-Italic.woff2);
   } 
   @font-face {
    font-family: "Staff-Bold";
     src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/Staff-Bold.woff2);
   }  
   @font-face {
    font-family: "Staff-BoldItalic";
     src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/Staff-BoldItalic.woff2);
   } 
   @font-face {
    font-family: "Carrie-Regular";
     src: url(https://mediainnovation.camd.northeastern.edu/2022/emancipator/fonts/VTCCarrie-Regular.woff2);
   } 
   .headline {
color:#CD395B;
font-family:"IvarHeadline-Regular","Georgia",serif ;
font-size: 5em;
text-align: center;
   }
h2.headline {
    color:#BADEFC;
    font-family:"IvarHeadline-Regular","Georgia",serif ;
    font-size: 3em;
    text-align: center;
   }
.container p{
    color:#1e3f5a;
    font-family:"IvarHeadline-Regular","Georgia",serif ;
    font-size: 3em;
    text-align: center;
    line-height: 1.8;
    font-size: 18px;
    margin-top: 18px;
}
.container a:link{
    font-family: "Staff-Bold","Arial",sans-serif;
    color:#CD395B;
}
.container a:hover{
    font-family: "Staff-Bold","Arial",sans-serif;
    color:#20a42f;
}
.container a:visited{
    font-family: "Staff-Bold","Arial",sans-serif;
    color:#b1d715;
}
   /* ------------------ EMANCIPATOR COLORS ---------------------------------------- */
   /* FOREST #31463F */
   /* ROSE #CD395B */
   /* FOREST #31463F */
   /* PINK #F6B0A0 */
   /* PUTTY #F6F2E1 */
   /* SKY #BADEFC */
   /* BLACK #1C1C1C */
   /* HIGHLIGHTER #EBF952 
   gold#FBC24C
   */

   /* sticky style */
   article {
    position: relative;
  }
  figure.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }